{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <title>首頁</title>
</head>

<body>
    <!--標題-->
    <p id="app_title">小琉球一日遊訂約系統</p>
    <p id="date_word">請選擇想要旅遊的日期</p>
    <!--月曆-->
    <div>
        <form action="">
            <label for="start">Date:</label>
            <div id="calender">
                <input type="date" id="start" name="trip-start"
                  value="2023-03-26"
                  min="2023-03-31" max="2023-12-31">
            </div>
        </form>
    </div>
    <!--資料-->
    <div class="main_body">
        <div class="mid_body">
            <form action="../breakfast_menu">
                <div class="mb-3">
                    <label for="index_num" class="col-form-label" id="num">請輸入人數</label>
                            <input type="text" class="form-control" id="mem_name1" placeholder="參與者名稱" required>
                </div>
                <div class="mb-3">
                    <label for="index_break" class="col-form-label" id="break">請輸入早餐數量</label>
                    <input type="text" class="form-control" id="index_break" placeholder="輸入早餐數量" required>
                </div>
                <div class="mb-3">
                    <label for="index_dinner" class="col-form-label" id="dinner">請輸入晚餐數量</label>
                            <input type="text" class="form-control" id="index_dinner" placeholder="輸入晚餐數量" required>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <input type="submit" class="btn btn-primary" id="membtn" value="確認" href="lo">
                </div>
            </form>
        </div>
    </div>
</body>
</html>